:root{
    --black-theme-bg-color: #343a40;
    --black-theme-font-color: #adb5bd;
    --white-theme-bg-color: #000;
    --white-theme-font-color: #fff;
    --background-color: #fff;
    --font-color: #000;
}

@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes hide {

    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}

#audioplayer {
    --duration-before-width: 0%;
    --volume-before-width: 20%;
    --buffered-width: 0%;
    --duration-color: #0aaa82d7;
    --secondry-color: #000;
    --alpha-color: rgba(0,0,0,.123);
    --disabled-color: #999;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --repeat-shadow: rgba(50, 50, 255, 1);
    --active-color: #000;
}

#audioplayer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px var(--box-shadow-color) !important;
    height: 50px;
    background-color: var(--background-color);
    color: var(--font-color);
    box-shadow: inset var(--secondry-color) 0 0;
    
}

#audioplayer * {
    border: 0;
    color: var(--font-color);
    outline: none !important;
}

#audioplayer input {
    background-color: var(--background-color);
    color: var(--font-color);
}

#audioplayer button {
    cursor: pointer;
    margin: 0 5px !important;
    background-color: var(--background-color);
}

#audioplayer button>svg {
    width: 20px;
}

#audioplayer span {
    position: absolute;
    top: 5px;
}

#audioplayer .player #name_track {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#audioplayer .player {
    position: relative;
    width: 100%;
    height: inherit;
}

#audioplayer .player #test_time span:first-child {
    position: absolute;
    left: -120px;
}

#audioplayer .player #test_time span:nth-child(2) {
    position: absolute;
    left: -75px;
    top: 0px;
}

#audioplayer .player #test_time span:nth-child(3) {
    position: absolute;
    left: -65px;
}

#audioplayer .player #test_time span:nth-child(4) {
    position: absolute;
    left: -25px;
    top: 0px;
}

#audioplayer .player #test_time span:nth-child(5) {
    position: absolute;
    left: -15px;
}

#audioplayer .player #test_time span:nth-child(6) {
    position: absolute;
    left: 30px;
    top: 0px;
}

#audioplayer .player #test_time span:last-child {
    position: absolute;
    right: 0;
}

#audioplayer .player #test_time {
    position: absolute;
    width: 80px;
    right: 0;
    opacity: 0;
}

#audioplayer .player #time, .invert{
    pointer-events: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    top: 20px;
}

#audioplayer .player #time .show{
    animation: show;
    animation-duration: 1s;
    opacity: 100;
}

#audioplayer .player #time .hide{
    animation: hide;
    animation-duration: 1s;
    opacity: 0;
}

#audioplayer .player #time span#current_time {
    position: absolute;
    left: 20px;
}

#audioplayer .player #time span#duration_time,
#audioplayer .player #time span#difference_time {
    position: absolute;
    right: 20px;
}

#audioplayer .player #btDuration {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

#audioplayer #btVolume {
    width: 5%;
}

#audioplayer #btRepeat {
    margin-left: 25px !important;
    color: var(--active-color);
}

#audioplayer #btRepeat.press>svg {
    filter: drop-shadow(3px 3px 2px var(--repeat-shadow));
}

#audioplayer .Btdisabled {
    color: var(--disabled-color);
    cursor: default;
}

#audioplayer .transition {
    transition-property: color;
    transition-duration: 1s;
}

input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid var(--duration-color);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--background-color);
    cursor: pointer;
}

input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--duration-color);
}

input[type="range"]::-webkit-slider-runnable-track{
    border-radius: 10px;
}

#btDuration::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--duration-color) var(--duration-before-width), rgba(0, 0, 0, 0.123) var(--duration-before-width));
}

#btVolume::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--duration-color) var(--volume-before-width), rgba(0, 0, 0, 0.123) var(--volume-before-width));
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid var(--duration-color);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--background-color);
    cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--duration-color);
}

input[type="range"]::-moz-range-track {
    border-radius: 10px;
    height: 10px;
}

#btDuration::-moz-range-track {
    background: linear-gradient(to right, var(--duration-color) var(--duration-before-width), rgba(0, 0, 0, 0.123) var(--duration-before-width));
}

#btVolume::-moz-range-track {
    background: linear-gradient(to right, var(--duration-color) var(--volume-before-width), rgba(0, 0, 0, 0.123) var(--volume-before-width));
}

@media screen and (max-width: 1024px) {
    #audioplayer #btDuration {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #audioplayer #btVolumeControl {
        display: none;
    }

    #audioplayer #btVolume {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #audioplayer #btDuration {
        width: 60%;
    }
}

@media screen and (max-width: 380px) {
    #audioplayer #btDuration {
        width: 50%;
    }
}

[data-bs-theme=dark] {
    --background-color: var(--black-theme-bg-color);
    --font-color: var(--black-theme-font-color);
}